#body{
    background-color: #282828;
}

#nav{
    background-color: #CA0000;
}

#cardcheck{
    background-color: #000000;
}
#carrusel{
    background-color: #000000;
}

#concierto{
    font-family: 'Lato', sans-serif;
    color:#ffffff;
    background-color:#000000;
}

.card{
    background-color: #000000;
    color:#ffffff;
}

#boton{background-color: #CA0000}

#contacto{
    background-color: #000000;
}
h6{
    color:black;
}
#info{
    background-color: #000000;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

.navbar{
    background-color: #CA0000;
}
#texto{

color:#000000;}





